*{
    margin: 0;
    padding: 0;
}
.img-head{

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: ivory;
    width: 100vw;
    height: 65px;
}

img{
    margin: 6px;
    padding-left: 47.7%;
    height: 45px;
    width: 45px;
    /* border-radius: 5px; */
}

.side-menu
{   position: fixed;
    background-color: rgb(196, 187, 187);
    width: 0px;
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
}
.side-menu:hover,
.side-menu.active
{
    width: 197px;
}

.side-menu ul {
    position: relative;
    width: 100%;
    margin: 13px;
    padding: 5px 31px;
}

.side-menu ul:hover {
    background-color: rgb(69, 60, 104);
    color: white;
}


.side-menu ul a{
    text-align: start;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

.side-menu ul a:hover{
    color: white;
}

#icon{
    padding: 5px;
}

.toggle{
    position: absolute;
    top: 20px;
    left: 50px;
    cursor: pointer;

}

.toggle.active{
 color: rgb(88, 71, 161);
}

.toggle:before{
    margin: 5px;
    content: '\f0c9';
    font-family: fontAwesome;

}

.toggle.active:before{
    content: '\f00d';
    font-family: fontAwesome;
    margin: 5px;

}

.vl1 {
    position: absolute;
    top: 10px;
    left: 198px;
    border-left: 2px solid #898c89;
    height: 43px;
}

.vl2 {
    position: absolute;
    top: 10px;
    left: 88%;
    border-left: 2px solid #898c89;
    height: 43px;
}
.search{
    position: absolute;
    top: 22px;
    left: 73%;
}

.search input{
    padding: 4px;
    outline: none;
    border-radius: 10px;
}

.user-container{
    position: absolute;
    top: 25px;
    left: 91%;
    cursor: pointer;
}
